.curseclient
minecraftinstance.json
config/ad_astra.jsonc
config/ae2/client.json
config/ae2/common.json
config/embeddium-fingerprint.json
config/embeddium-options.json
config/fml.toml
config/gtceu.yaml
config/loadmyresources/config.cfg
config/megacells.json
config/oculus.properties
config/powah.json5
config/roughlyenoughitems/collapsible.json5
config/roughlyenoughitems/config.json5
config/roughlyenoughitems/favorites.json5
config/roughlyenoughitems/hints.json
config/sidebar_buttons.json
config/xaerominimap_entities.json
kubejs/config/probejs.json
local/ftblibrary-client.snbt
local/kubejs/dev.properties
logs/crafttweaker.log
/logs
patchouli_data.json
rhino.local.properties
local/ftbquests/client-config.snbt
/saves
options.txt
/XaeroWorldMap/
/xaero/
/local/kubejs
kubejs/config/probejs.json
/kubejs/config
usercache.json
usernamecache.json
/.vscode
config/ad_astra.jsonc
config/embeddium-fingerprint.json
/config/
/XaeroWaypoints_BACKUP240807/
